{
  "presets": [
    "es2015"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline",
      "presets": [
        "power-assert"
      ]
    },
    "production": {
      "sourceMaps": false
    }
  }
}
